@charset "utf-8";

.engine-list {
    width: 100%;
    padding: 20px;
    /* max-height: 100px;
    min-height: 20px; */
}
.engine-list>.image {
    /* aspect-ratio: 550 / 2560; */
    /* height: 100%; */
    
    height: auto;
}
.ages {
    font-family: "DotGothic16", sans-serif;
    text-align: center;
}
.softLogo {
    display: block;
    width: 500px;
    max-width: 90vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
}
